# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Streamlit temporary files
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# Database
*.sqlite3

# Jupyter Notebook hidden directories
.jupyter/

# VSCode settings
.vscode/
